.current-pokemon-evolutions {
    display: flex;
    flex-direction: column;
    align-items: center;

    .evolution-name {
        text-transform: capitalize;
        text-decoration: none;
        color: #0645ad;
        cursor: pointer;
    
        &:hover {
            text-decoration: underline;
        }
    }

    &.dark-mode {
        color: white;

        .evolution-name {
            color: #80b6ff;
        }
    }
}

.evolution-artwork {
    width: 120px;
    padding: 36px;
}

.evolution-title {
    padding: 40px;
    font-size: 20px;
    font-weight: bold;
}

.evolution-tree {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    line-height: 1.6;
    margin: 0 auto;
    padding: 0px 20px;
    max-width: 910px;
}

.first-evolution, .second-evolution, .third-evolution {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(72, 72, 72);
    margin-top: -1px;
    margin-left: -1px;
    width: 300px;
    height: 300px;
}

.evolve-method {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 252px;
    line-height: 1.4;
    flex-wrap: wrap;

    &::after {
        content: '\00a0▼';
    }
}

.evolve-item-name {
    font-size: 14px;
    text-transform: capitalize;
}

.evolution-tree.eevee {
    @for $i from 1 through 5 {
        .second-evolution:nth-child(#{$i}) {
            order: $i - 1;
        }
    }
    @for $i from 6 through 9 {
        .second-evolution:nth-child(#{$i}) {
            order: $i;
        }
    }

    .first-evolution {
        order: 5;

        @media (max-width: 942px) {
            order: -1;
        }
    }
}

.evolution-tree.tyrogue {
    @for $i from 2 through 3 {
        .second-evolution:nth-child(#{$i}) {
            order: $i - 1;
        }
        .second-evolution:nth-child(4) {
            order: 4;
        }
    }

    .first-evolution {
        order: 2;

        @media (max-width: 942px) {
            order: -1;
        }
    }
}

.move-name {
    text-transform: capitalize;
}