main {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(100px);
    margin-bottom: 200px;
    min-height: calc(100vh - 229px);
}

.search-bar {
    width: 250px;
    height: 32px;
    margin-bottom: 24px;
    padding: 0px 12px;
    cursor: text;
    caret-color: #0645ad;
    border-radius: 0;

    &.dark-mode {
        color: #dddddd;
        caret-color: #80b6ff;
        border: 1px solid rgb(72,72,72);
        background-color: #1d1d1d;
        border: 1px solid rgb(72,72,72);
    }
}

.no-result {
    margin-top: 20px;

    &.dark-mode {
        color: white;
    }

    &.hidden {
        display: none;
    }
}