main {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(100px);
}

.search-bar {
    width: 250px;
    height: 32px;
    margin-bottom: 24px;
    padding-left: 12px;
    cursor: text;
    user-select: none;
    caret-color: #0645ad;

    &.dark-mode {
        color: #dddddd;
        caret-color: #80b6ff;
        border: 1px solid rgb(72,72,72);
        background-color: #1d1d1d;
        border: 1px solid rgb(72,72,72);
    }
}