.current-pokemon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &.dark-mode {
        color: white;
    }

    @media (max-width: 860px) {
        flex-direction: column;
    }
}

.current-pokemon-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.current-pokemon-entries {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 60px;
    
    &.dark-mode {
        color: white;
    }
}

.current-pokemon-artwork {
    width: 200px;
    height: 200px;
    padding: 20px 40px;
}

.current-pokemon-types {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-pokemon-pokedex {
    padding: 10px 40px;

}

.version {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 12px;
}

.description {
    margin-bottom: 24px;
    line-height: 1.6;
    max-width: 420px;
    word-wrap: break-word;
}

.pokedex-title {
    padding: 0px 40px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.current-pokemon-evolutions {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.dark-mode {
        color: white;
    }
}

.evolution-artwork {
    width: 120px;
    padding: 36px;
}

.evolution-name {
    text-transform: capitalize;
}

.evolution-title {
    padding: 40px;
    font-size: 20px;
    font-weight: bold;
}

.evolution-tree {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0px 20px;
    max-width: 910px;
}

.first-evolution, .second-evolution, .third-evolution {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(72, 72, 72);
    margin-top: -1px;
    margin-left: -1px;
    width: 300px;
    height: 300px;
}

.evolve-method {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 250px;
    line-height: 1.4;

    &::after {
        content: '\00a0▼';
    }
}

.evolve-item-name {
    font-size: 14px;
    text-transform: capitalize;
}

.first-evolution.eevee {
    background-color: red;
}

.evolution-tree.eevee {
    @for $i from 1 through 4 {
        .second-evolution:nth-child(#{$i}) {
            order: #{$i};
        }
    }
    @for $i from 6 through 9 {
        .second-evolution:nth-child(#{$i}) {
            order: $i + 1;
        }
    }

    .first-evolution {
        order: 5;

        @media (max-width: 942px) {
            order: 0;
        }
    }
}