.right-arrow.mobile {
    position: absolute;
    left: 20px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    fill: black;
    transform: translateY(-4px);

    &:hover {
        fill: gray;
    }

    @media (min-width: 450px) {
        display: none;
    }

    &.dark-mode {
        fill: white;

        &:hover {
            fill: rgb(72, 72, 72);
        }
    }
}

.current-pokemon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &.dark-mode {
        color: white;
    }

    @media (max-width: 860px) {
        flex-direction: column;
    }
}

.current-pokemon-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.current-pokemon-entries {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 60px;
    
    &.dark-mode {
        color: white;
    }
}

.current-pokemon-artwork {
    width: 200px;
    height: 200px;
    padding: 20px 40px;
}

.current-pokemon-types {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-pokemon-pokedex {
    padding: 10px 40px;

}

.version {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 1.6;
}

.description {
    margin-bottom: 24px;
    line-height: 1.6;
    max-width: 420px;
    word-wrap: break-word;
}

.pokedex-title {
    padding: 0px 40px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;

    @media (max-width: 860px) {
        text-align: center;
    }
}